.top-bar {
  background-color: #f9f7f3;
}
.top-bar p {
  color: #bca24a;
}
h2,
h5,
.fa-circle-chevron-right,
.psd-theme-color {
  color: #bca24a;
}

.navbg {
  background-color: #ffffff;
}
ul {
  list-style: none;
}
ul li{
    padding: 0 15px;
}
ul li a {
  text-decoration: none;
  color: #bca24a;
}
.navbg ul li a:hover{
    color: black;
    font-weight: bold;
}
.navbg ul li .active{
	border-bottom: 1px solid #bca24a;
    color: #bca24a;
}
.single-word-bg {
  color: #bca24a;
  background-color: #f9f7f3;
}
.carousel-item img {
  height: 600px;
}
.idea-section {
  background-color: #fdfdfd;
  color: #bca24a;
}
.fa-lightbulb,
.fa-gear,
.fa-cloud,
.fa-code {
  font-size: 40px;
  padding: 10px;
}
.card-footer-color {
  color: #bca24a;
  font-weight: bold;
}
.form-control {
  background-color: #fff9ef;
  padding-left: 30px;
}
.btn-custom {
  background-color: #bca24a;
  color: white;
  padding: 10px 40px;
}
.contact-us {
  background-color: #f9edd5;
}
.helpful-link {
  padding: 0px;
}
.helpful-link li {
  padding-bottom: 10px;
  font-weight: 600;
}
.fa-angle-right {
  padding-right: 2px;
  font-size: 10px;
}
.lead {
  color: grey;
}
footer {
  background-color: #bca24a;
  color: white;
  padding: 20px;
  text-transform: uppercase;
}
